swiper-container {
 
//   background-image: url(..///images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
//   z-index: -1;
.slider1{
  background-image: url(..///img/background\ slider\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 1;
  img{
    width: 735px;
    height: 494px;
  }
}
.slider2{
  background-image: url(../img/background\ 2.jpg);

 
  img{
     width: 614px;
    height: 505px;
  }
}
}